[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adformR"]
	path = adformR
	url = https://github.com/cran/adformR
[submodule "amazonadsR"]
	path = amazonadsR
	url = https://github.com/cran/amazonadsR
[submodule "amazons3R"]
	path = amazons3R
	url = https://github.com/cran/amazons3R
[submodule "amazonspR"]
	path = amazonspR
	url = https://github.com/cran/amazonspR
[submodule "appleadsR"]
	path = appleadsR
	url = https://github.com/cran/appleadsR
[submodule "appsflyeR"]
	path = appsflyeR
	url = https://github.com/cran/appsflyeR
[submodule "awinR"]
	path = awinR
	url = https://github.com/cran/awinR
[submodule "bingadsR"]
	path = bingadsR
	url = https://github.com/cran/bingadsR
[submodule "campaignmanageR"]
	path = campaignmanageR
	url = https://github.com/cran/campaignmanageR
[submodule "facebookadsR"]
	path = facebookadsR
	url = https://github.com/cran/facebookadsR
[submodule "facebookleadsR"]
	path = facebookleadsR
	url = https://github.com/cran/facebookleadsR
[submodule "facebookorganicR"]
	path = facebookorganicR
	url = https://github.com/cran/facebookorganicR
[submodule "fetchGoogleAnalyticsR"]
	path = fetchGoogleAnalyticsR
	url = https://github.com/cran/fetchGoogleAnalyticsR
[submodule "fetchSalesforceR"]
	path = fetchSalesforceR
	url = https://github.com/cran/fetchSalesforceR
[submodule "googleadsR"]
	path = googleadsR
	url = https://github.com/cran/googleadsR
[submodule "instagramadsR"]
	path = instagramadsR
	url = https://github.com/cran/instagramadsR
[submodule "linkedInadsR"]
	path = linkedInadsR
	url = https://github.com/cran/linkedInadsR
[submodule "mailchimpR"]
	path = mailchimpR
	url = https://github.com/cran/mailchimpR
[submodule "pinterestadsR"]
	path = pinterestadsR
	url = https://github.com/cran/pinterestadsR
[submodule "quoradsR"]
	path = quoradsR
	url = https://github.com/cran/quoradsR
[submodule "redditadsR"]
	path = redditadsR
	url = https://github.com/cran/redditadsR
[submodule "shopifyadsR"]
	path = shopifyadsR
	url = https://github.com/cran/shopifyadsR
[submodule "snapchatadsR"]
	path = snapchatadsR
	url = https://github.com/cran/snapchatadsR
[submodule "taboolaR"]
	path = taboolaR
	url = https://github.com/cran/taboolaR
[submodule "tiktokadsR"]
	path = tiktokadsR
	url = https://github.com/cran/tiktokadsR
[submodule "twitteradsR"]
	path = twitteradsR
	url = https://github.com/cran/twitteradsR
